@import '~bootstrap/scss/bootstrap';


@import "./guest/partials/home";
@import "./guest/partials/header";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-personal{
  width: 90%;
  margin: 0 auto;
}
